<style>
  ul li{
    display:inline;
    }

  header {
    position: absolute;
    left:0;
    right: 0;
    background-color:rgb(196,196,196);
    background-position: absolute;
    max-width: 100%;
    margin-top: -8px;
    font-family:"Lucida Grande";
    font-size: 20px;
    z-index: 10;
    border-bottom: solid;
    border-top: solid;
    border-color:gray;
    border-width: 2px;
  }
  ul {
    margin: 0 auto;
    padding: 20px 40px 20px 100px;
    float: right;
  }
  li {
    padding: 20px 20px 20px 0px;
  }
  li a:link {
    color:white;
    font-size:20px;
    text-decoration:none;
    text-shadow: 0px 2px 0px rgba(19, 18, 20, 0.67);
  }
  li a:visited {
    color:white;
  }
  li button {
    color:white;
    background-color:rgb(40,79,172);
    border-radius:8px;
    font-family:"Lucida Grande";
    font-size: 20px;
    margin:0 auto;
    padding:10px 20px 10px 20px;
  }

  body {
    background: url("images/background.png");
    background-size: cover;
  }

  div {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 10px 20px;
    margin: 100px auto 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
  }

  footer {
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    border-top: 1px solid gray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Lucida Grande";
    font-size: 16px;
  }

</style>
